<div class="card p-4">
  <h4>Informações do Produto</h4>
  <div class="mb-2">
    <strong>Nome:</strong> {{produto.nome}}
  </div>
  <div class="mb-2">
    <strong>Categoria:</strong> {{produto.categoria.nome}}
  </div>
  <div class="mb-2">
    <strong>Preço:</strong> R$ {{produto.preco}}
  </div>
  <div class="mb-2">
    <strong>Descrição:</strong> {{produto.descricao}}
  </div>
  <div class="mb-2">
    <strong>Quantidade em Estoque:</strong> {{produto.quantidade}}
  </div>
  <div class="mb-3">
    <strong>Status:</strong> {{produto.status}}
  </div>
  <a href="/" class="btn btn-secondary">Voltar</a>
</div>
