<h4>Produtos Cadastrados</h4>
{{#if produtos.length}}
  <table class="table table-bordered table-hover">
    <thead class="table-light">
      <tr>
        <th>Categoria</th>
        <th>Nome</th>
        <th>Qtd.</th>
        <th>Preço</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {{#each produtos}}
        <tr>
          <td>{{categoria.nome}}</td>
          <td>{{nome}}</td>
          <td>{{quantidade}}</td>
          <td>R$ {{preco}}</td>
          <td>
            <a href="/produto/consulta/{{id}}" class="btn btn-primary btn-sm">
              <i class="bi bi-eye"></i> Consultar
            </a>
            {{#if quantidade}}
              <form action="/produto/venda/{{id}}" method="POST" class="d-inline">
                <button type="submit" class="btn btn-danger btn-sm">
                  <i class="bi bi-cart-dash"></i> Registrar Venda
                </button>
              </form>
            {{/if}}
            <form action="/produto/compra/{{id}}" method="POST" class="d-inline">
              <button type="submit" class="btn btn-success btn-sm">
                <i class="bi bi-cart-plus"></i> Registrar Compra
              </button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>Nenhum produto cadastrado no momento.</p>
{{/if}}
